.LimitedDiamondButton-container {
    width: 75px;
    height: 75px;
    transform: rotate(45deg);
    border-radius: 5px;
    box-shadow: 0px 0px 11px #340030;
    cursor: pointer;
    transition: all 0.2s;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.LimitedDiamondButton-container:hover {
    transform: scale(1.1) rotate(45deg);
}
.LimitedDiamondButton-container:active {
    transform: scale(0.9) rotate(45deg);
}

.LimitedDiamondButton-container > div {
    transform: rotate(-45deg);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.LimitedDiamondButton-container > div > span {
    color: #ffffff;
    font-size: 10px;
}

.LimitedDiamondButton-container > div > span > span {
    font-size: 16px;
    font-weight: 600;
}

.LimitedDiamondButton-container.life {
    background: linear-gradient(182.44deg, #db2e29 -17.86%, #9b0400 130.88%);
}
.LimitedDiamondButton-container.essence {
    background: linear-gradient(187.04deg, #62e0df -80.69%, #374fa5 98.7%);
}
.LimitedDiamondButton-container.exaustion {
    background-color: #563065;
}
.LimitedDiamondButton-container.inspiration {
    background-color: #602876;
}
