.raceSelection-container > main {
  margin-top: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.raceSelection-container > main > span {
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 50px;
}

.raceSelection-container > main > section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
@media (max-width: 500px) {
  .raceSelection-container > main > section {
    flex-direction: column;
  }
}

.raceSelection-container > main > section > div {
  margin: -5% 2%;
}
@media (max-width: 500px) {
  .raceSelection-container > main > section > div {
    margin-bottom: 25px;
  }
}

.raceSelection-container > main > section > div:last-child {
  margin: 0;
  margin-top: 6%;
}
@media (max-width: 500px) {
  .raceSelection-container > main > section > div:last-child {
    margin: -5% 2%;
  }
}
