.login-container span {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #ffffff;
}
@media (max-width: 1200px) {
  .login-container span {
    display: none;
  }
}

.login-container main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

/* aside */
.login-container main aside {
  background: linear-gradient(270deg, rgba(117, 112, 112, 0.3) 0%, rgba(255, 255, 255, 0.3) 100%);
  padding: 5%;
  width: 500px;
  height: 300px;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
}
@media (max-width: 1200px) {
  .login-container main aside {
    display: none;
  }
}

.login-container main aside p:nth-child(2) {
  color: #eed81a;
}

.login-container main aside p {
  color: #ffffff;
  text-align: left;
}

.login-container main aside p + p {
  margin-top: 8%;
}

/* section */
.login-container main section {
  display: flex;
  justify-items: center;
  flex-direction: column;
}

.login-container main section button {
  margin: 25px;
}

/* form */
.login-container main form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.login-container main form label {
  align-self: flex-start;
  color: #ffffff;
}

.login-container main form input {
  margin-bottom: 5px;
  border-radius: 6px;
  padding: 0 5px;
}

.login-container main form button {
  margin: 25px;
}

.login-container main form img {
  position: absolute;
  top: 25%;
  left: -25%;
  cursor: pointer;
}
.login-container main form img:hover {
  transform: scale(1.1);
}
.login-container main form img:active {
  transform: scale(0.9);
}
