.login-form-btn-back {
  position: absolute;
  top: 25%;
  left: -20%;
  cursor: pointer;
}
.login-form-btn-back:hover {
  transform: scale(1.1);
}
.login-form-btn-back:active {
  transform: scale(0.9);
}

.login-btn {
  margin: 25px;
}
