.GMMenu-container {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  margin: 0;
  margin-top: 35px;
  height: 60px;
  width: 100%;
  /* margin-bottom: 60px; */
  background-color: #ffffff;
  opacity: 92%;
  position: relative;
}

.GMMenu-container div {
  height: 100%;
  width: 100%;
  padding-top: 0.5%;
  padding-bottom: -0.5%;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.GMMenu-container div:hover {
  background-color: #e5e5e5;
}
.GMMenu-container div:active {
  transform: scale(0.9);
}

.GMMenu-container div button {
  font-weight: 600;
  color: #7b2574;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  font-size: 12px;
}

@media (max-width: 1200px) {
  .GMMenu-container div button {
    display: none;
  }
}
