.LightNodeActive-container {
    width: calc(75px * 1.4142);
    height: calc(75px * 1.4142);
    cursor: pointer;
    transition: all 0.2s;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.LightNodeActive-container:hover {
    transform: scale(1.1);
}
.LightNodeActive-container:active {
    transform: scale(0.9);
}

.LightNodeActive-container > div {
    position: absolute;
    background-color: #602876;
    width: 75px;
    height: 75px;
    transform: rotate(45deg);
    border-radius: 5px;
    box-shadow: 0px 0px 11px #340030;
}

.LightNodeActive-container > span {
    color: #ffffff;
    font-size: 10px;
    position: relative;
}

.LightNodeActive-container > span > span {
    font-size: 16px;
    font-weight: 600;
}
