.PlayerPanel-container > main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.PlayerPanel-container > main > span {
    margin-top: 15px;
    color: #dedede;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.267rem;
    margin-bottom: 10px;
}

.PlayerPanel-container > main > .profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    width: 360px;
    height: 100%;
}

.PlayerPanel-container > main > .profile img {
    width: 250px;
}

.PlayerPanel-container > main > .profile > main {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.PlayerPanel-container > main > .details {
    width: 360px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.PlayerPanel-container > main > .action {
    width: 360px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
