.PlayerPanel-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.PlayerPanel-container > main {
    width: 100%;
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.PlayerPanel-container > main > main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.PlayerPanel-container > main > main > span {
    margin-top: 15px;
    color: #dedede;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.267rem;
    margin-bottom: 10px;
}

.PlayerPanel-container > main > main > .profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    width: 360px;
    height: 100%;
}

.PlayerPanel-container > main > main > .profile > main {
    width: calc(75px * 1.4142);
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.PlayerPanel-container > main > main > .details {
    width: 360px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.PlayerPanel-container > main > main > .action {
    width: 360px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.PlayerPanel-container > main > main > .action > div {
    width: calc(75px * 1.4142);
    height: calc(75px * 1.4142);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
