.GeneralNode-container {
    position: relative;
    width: 75px;
    height: 75px;
    border-radius: 100%;
    cursor: pointer;
    transition: all 0.2s;
    background-color: #5e386e;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.GeneralNode-container:hover {
    transform: scale(1.1);
}
.GeneralNode-container:active {
    transform: scale(0.9);
}

.GeneralNode-container > span {
    color: #ffffff;
    margin-bottom: 5px;
}

.GeneralNode-container > span:first-child {
    font-size: 16px;
    font-weight: 600;
    margin-top: 5px;
}

.GeneralNode-container > span + span {
    font-size: 10px;
    margin-bottom: 5px;
}

.GeneralNode-container > div {
    position: absolute;
    bottom: 0;
    transform: translate(0, 35%);
    width: calc(25px * 1.4142);
    height: calc(25px * 1.4142);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.GeneralNode-container > div > div {
    position: absolute;
    width: 25px;
    height: 25px;
    transform: rotate(45deg);
    border-radius: 3px;
    background-color: #765284;
}
