.StatSection-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.StatSection-container div {
    width: 100px;
    height: 100px;
    border: 2px solid #dedede;
    border-radius: 100%;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
}
.StatSection-container div:hover {
    transform: scale(1.1);
}
.StatSection-container div:active {
    transform: scale(0.9);
}

.StatSection-container img {
    zoom: 0.8;
}

.StatSection-container span {
    color: #dedede;
    font-size: 10px;
    margin-top: 10px;
}
