.Status-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 192px;
    height: 37px;
    background-color: #602876;
    border-radius: 0 0 0 5px;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media (max-width: 1200px) {
    .Status-container {
        display: none;
    }
}

.Status-container > span {
    color: #ffffff;
    font-size: 12px;
}

.Status-container > div {
    position: absolute;
    bottom: 0;
    transform: translate(0, 50%);

    width: 13px;
    height: 13px;
    background-color: #ffffff;
    border-radius: 100%;
    transition: all 0.2s;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Status-container:hover > div {
    transform: translate(0, 50%) scale(1.1);
}

.Status-container :active > div {
    transform: translate(0, 50%) scale(0.9);
}
