.menu-bar {
  margin: 0;
  margin-top: 35px;
  height: 60px;
  margin-bottom: 60px;
  background-color: #ffffff;
  opacity: 92%;
}

.box-menu {
  height: 100%;
  padding-top: 0.5%;
  padding-bottom: -0.5%;
  cursor: pointer;
}

.box-menu:hover {
  background-color: #e5e5e5;
}
.box-menu:active {
  transform: scale(0.9);
}

.menu-img {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu-button {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 600;
  color: #7b2574;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  font-size: x-small;
}
