.ActionButton-container {
    width: 80px;
    height: 80px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ActionButton-container img {
    position: absolute;
}

.ActionButton-container img + img {
    opacity: 0.5;
}
