.return-bar {
  margin: 0;
  margin-top: 35px;
  height: 60px;
  margin-bottom: 60px;
  background-color: #ffffff;
  opacity: 92%;
}

.return-img {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.box-return {
  position: absolute;
  left: 0;
  height: 100%;
  padding: 0;
}

.box-return:hover {
  background-color: #e5e5e5;
}

.return-button {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  color: #7b2574;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.return-title {
  color: #7b2574;
  margin: 0;
}
