.returnMenu-bar {
  margin: 0;
  margin-top: 35px;
  height: 60px;
  margin-bottom: 60px;
  background-color: #ffffff;
  opacity: 92%;
}

.returnMenu-img {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.returnMenu-box {
  position: absolute;
  left: 0;
  height: 100%;
  padding: 0;
  cursor: pointer;
}
.returnMenu-box:hover {
  background-color: #e5e5e5;
}
.returnMenu-box:active {
  transform: scale(0.9);
}

.returnMenu-button {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  color: #7b2574;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.returnMenu-title {
  color: #7b2574;
  margin: 0;
}
