.membersBar-container {
  position: absolute;
  bottom: 0%;
  margin: 0;
  height: 50px;
  width: 100%;
  padding: 0 5%;
  background-color: #ffffff;
  opacity: 92%;
}

@media (max-height: 500px) {
  .membersBar-container {
    position: relative;
    margin-top: 10%;
  }
}

.membersBar-container aside:first-child {
  position: absolute;
  left: 0%;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}
.membersBar-container aside:first-child:hover {
  background-color: #e5e5e5;
}
.membersBar-container aside:first-child:active {
  transform: scale(0.9);
}

.membersBar-container section {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  padding: 3px;
  cursor: pointer;
  position: relative;
}

.membersBar-container section div {
  width: 100%;
  padding-top: 100%;
  margin: 0;
  background-color: #501e64;
  border-radius: 100%;
  float: left;
}

.membersBar-container section div + div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  padding-top: 70%;
  background-color: #ffffff;
  border-radius: 100%;
}

.membersBar-container aside:last-child {
  position: absolute;
  padding: 5px;
  top: 0;
  right: 0%;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  background-color: #602876;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.membersBar-container aside:last-child:hover {
  background-color: #2a1333;
}
.membersBar-container aside:last-child:active {
  transform: scale(0.9);
}

.membersBar-container aside:last-child img {
  margin-top: 2%;
  transform: scale(0.8);
}

.membersBar-container aside:last-child label {
  margin: 0;
  color: #efecf0;
  font-size: 10px;
}
