.form-field-alignment-l {
  text-align: left;
}
.form-field-alignment-r {
  text-align: right;
}

.form-field-label {
  color: #ffffff;
}

.form-field-input {
  width: 100%;
  margin-bottom: 5px;
  border-radius: 6px;
  padding: 0 5px;
}

.form-field-input-lg {
}
