.DetailDisplay-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.DetailDisplay-container div {
    width: 100px;
    height: 100px;
    border: 2px solid #dedede;
    border-radius: 100%;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.DetailDisplay-container img {
    zoom: 0.8;
}

.DetailDisplay-container span {
    color: #dedede;
    font-size: 10px;
    margin-top: 10px;
}
