.originSelection-container > main {
  margin-top: 30px;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.originSelection-container > main > span {
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 50px;
}

.originSelection-container > main > section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
@media (max-width: 500px) {
  .originSelection-container > main > section {
    flex-direction: column;
  }
}

.originSelection-container > main > section > div {
  margin: -5% 2%;
}
@media (max-width: 500px) {
  .originSelection-container > main > section > div {
    margin-bottom: 20px;
  }
}
